body{
  background-color: rgb(114, 110, 110);
}
.App {
  position: fixed;   
  text-align: center;
  top: 50%;   
  left: 50%;   
  transform: translate(-50%, -50%);  
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 50px;
  border-radius:10px;
  padding-bottom: 20px;
  background-color: antiquewhite;
  
}

.captcha-container {
  padding-top: 80px;
  padding-bottom: 20px;
  margin: 20px;
}

.captcha {

  border: 2px solid #000;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 10px;
}

input {
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  text-align: center;
  font-size: 16px;
  display: block;
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
}

.coin-balance {
  margin-top: 10px;
}
